.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    img {
        max-width: 50%;
    }

    span {
        font-size: 2rem;
        color: var(--gray-700);
        font-weight: 600;
    }
}

@media(max-width: 768px) {
    .container {
    
        img {
            max-width: 100%;
        }
    
        span {
            font-size: 2rem;
            color: var(--gray-700);
            font-weight: 600;
        }
  }
}